.cart-icon {
  height: 29px;
  width: 29px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__count {
    position: absolute;
    font-weight: bold;
    bottom: 0;
  }
}