.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.hero {
  height: 40vh;
  padding: 0 7.5px;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__header {
    position: absolute;
    font-size: 5rem;
    background: white;
    opacity: 0.9;
    padding: 1rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
  }
}
  